<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="/" class="text-nowrap logo-img" style="font-size: 20px;">
                <img src="assets/images/logos/favicon.png" width="34" alt="" />
                <div style="margin-left: 5px; margin-top: 5px; float:right">
                    <span style="font-weight: bold;">ADMIN</span> <span>PANEL</span>
                </div>
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">

                <li class="sidebar-item">
                    <a class="sidebar-link" href="/" aria-expanded="false">
                        <span>
                            <i class="ti ti-layout-dashboard"></i>
                        </span>
                        <span class="hide-menu">Ana Sayfa</span>
                    </a>
                </li>
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">TODO LIST</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="todo" aria-expanded="false">
                        <span>
                            <i class="ti ti-article"></i>
                        </span>
                        <span class="hide-menu">Todo İşlemleri</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="category" aria-expanded="false">
                        <span>
                            <i class="ti ti-alert-circle"></i>
                        </span>
                        <span class="hide-menu">Kategori İşlemleri</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="priority" aria-expanded="false">
                        <span>
                            <i class="ti ti-cards"></i>
                        </span>
                        <span class="hide-menu">Öncelik İşlemleri</span>
                    </a>
                </li>

            </ul>

        </nav>
    </div>
    <!-- End Sidebar scroll-->
</aside>